body {
  background-color: grey;
}

#all-books {
  display: flex;
  flex-wrap: wrap;
}

#all-books > section {
  margin: 10px;
  flex-direction: column;
}

#selected-book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}





p {
  padding-left: 15%;
  padding-right: 15%;
  ;

}